@import "../../../../assets/css/untilities.scss";

.addProduct__navtab {
    a {

        padding: 10px 20px;
        text-decoration: none;
        @include Noto();
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $black;
        background-color: $lightPrimaryColor;

        &:not(:last-child) {
            border-right: 1px solid $white;
        }

        &.active {
            background: $primaryColor;
            color: $white;
        }
    }


}

.navTabs__content {

    @include FormCss();

    .addProduct__basicForm {
        gap: 80px;
    }
}