$primaryColor: #C53705;
$primaryDark: #7B2E16;
$secondaryColor: #FFE0BA;
$lightPrimaryColor: #FDC886;
$white: #FFFFFF;
$black: #000000;




//Styles For All Inputs
@mixin FormCss {
    .form-switch .form-check-input {
        margin-left: 0;
        display: block;
        border: none;
        width: 73px;
        height: 30px;
        float: none;
        background-image: url("../../../../assets/svg/circleRed.svg");

        &:checked {
            background-position: right center;
            background-color: white;
            background-image: url("../../../../assets/svg/circleGreen.svg");
        }

        &:active {
            filter: none;
        }

        &:focus {
            border-color: transparent;
            box-shadow: none;
        }
    }

    .form-control,
    .form-select {
        &:focus {
            border-color: transparent;
            box-shadow: 0 0 0 2px rgb(169 63 30 / 29%);
        }
    }

    .form-switch {
        padding-left: 0em !important;
    }

    .inputForm__inputField {
        width: 191px;
        height: 36px;
    }
}

@mixin Noto {
    font-family: 'Noto Sans';
}

.addproduct__submitButtons {
    gap: 24px;

    .saveButton {
        max-width: 100px;
        width: 100%;
        height: 40px;
        background: $primaryDark;
        border-radius: 10px;
        border: none;
        @include Noto();
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: $white;
    }

    .cancelButton {
        max-width: 100px;
        width: 100%;
        height: 40px;
        background: $primaryColor;
        border-radius: 10px;
        border: none;
        @include Noto();
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: $white;
    }
}

.inputForm__label {
    @include Noto();
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: $black;
    margin-bottom: 10px;
}