.sidebar_listItems {
    a {
        text-decoration: none;

        .sidebar_listItemsInner {
            gap: 20px;

            img {
                max-width: 20px;
                max-height: 20px;
                width: 100%;
            }

            p {
                color: black;
                font-family: Noto Sans;
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
}